{
  "extends": "@atomix/eslint-config-react",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "operator-linebreak": ["error", "before", {
      "overrides": {
        "?": "before",
        ":": "before",
        "+": "after",
        "&&": "after",
        "||": "after"
      }
    }]
  }
}
